* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #333;
    color: #fff;
    margin: 10px;
    font-family: 'Helvetica Neue', sans-serif;
}

a { color: #0C3; }
a:hover { color: #0F5; }

div.output {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 100%;
    height: 80vh;
}

div.output>div {
    padding: 5px;
    margin: 0px;
    height: 100%;
}
.content {
    padding: 5px;
    margin: 0px;
    height: 100%;
}

div.output h2 {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 3px;
}

.hidden {
    display: none;
}


div.output button {
    background-color: #CCC;
    color: #333;
    border: none;
    padding: 5px;
    width: 150px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    margin-bottom: 5px;
}

div.output button.active {
    background-color: #091;
    color: #fff;
}

div.output button:hover {
    background-color: #666;
}

div.output button.active:hover {
    background-color: #061;
}


div.output pre {
    height: 100%;
    background-color: #555;
    padding: 3px;
}

div.output pre textarea {
    background-color: #333;
    color: #fff;
    border: none;
    width: 100%;
    height: 100%;
    resize: none;
    overflow: auto;
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
    padding: 5px;
    border-radius: 5px;
    line-height: 1.5;
    white-space: pre-wrap;
    word-wrap: break-word;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}