* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #333;
    color: #fff;
    margin: 10px;
    font-family: 'Helvetica Neue', sans-serif;
}

/** add padding to the first body div */
body > div {
    padding: 10px;
    padding-top: 0px;
}

h3 {
    font-weight: normal;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
}

a { color: #0C3; }
a:hover { color: #0F5; }

div.navigation {
    display: grid;
    grid-template-columns: 1fr 2fr; /* Desktop and larger screens*/
    width: 100%;
    padding-right: 20px;
    /* handle mobile devices */
    @media (max-width: 1600px) {
        grid-template-columns: 1fr !important; /* Mobile and smaller screens */
    }    
}

div.output {
    display: grid;
    grid-template-columns: 1fr 2fr; /* Desktop and larger screens*/
    width: 100%;
    /* handle mobile devices */
    @media (max-width: 1600px) {
        grid-template-columns: 1fr !important; /* Mobile and smaller screens */
    }    
}
div.output > div {
    height: 70vh;
    @media (max-width: 1600px) {
        height: 40vh !important;
    }
}



.content {
    margin: 0px;
    height: 100%;
}

div.navigation h2 {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 3px;
}

.hidden {
    display: none;
}


div.navigation button {
    background-color: #CCC;
    color: #333;
    border: none;
    padding: 5px;
    width: 150px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    margin-bottom: 5px;
}

div.navigation button.active {
    background-color: #091;
    color: #fff;
}

div.navigation button:hover {
    background-color: #666;
}

div.navigation button.active:hover {
    background-color: #061;
}

div.header {
    display: grid;
    grid-template-columns: 2fr 3fr;
    padding-right: 20px;

    /* handle mobile devices */
    @media (max-width: 1600px) {
        grid-template-columns: 1fr !important; /* Mobile and smaller screens */
    }
}


/** position the footer to the bottom of the page */
div.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 5px;
    background-color: #333;
    border-top: 1px solid #666;
}

div.footer > div {
    display: inline-block;
    margin: 0 10px;
}



/*
<table id="commits-table">
    <tr>
        <th>Date</th>
        <th>User</th>
        <th>Commit</th>
    </tr>
</table>
*/

#commits-table {
    width: 100%;
    max-height: 180px;
    border-collapse: collapse;
    margin-top: 10px;
}
#commits-table th {
    background-color: #444F;
    color: #fff;
    padding: 5px;
    text-align: left;
}
#commits-table td {
    padding: 5px;
    border-bottom: 1px solid #666;
}
#commits-table tr:nth-child(odd) {
    background-color: #4444;
}
#commits-table tr:nth-child(even) {
    background-color: #4448;
}
#commits-table tr:hover {
    background-color: #666;
}

/* fit timestamp cell width to 170px */
#commits-table td:nth-child(1) {
    width: 140px !important;
    min-width: 140px !important;
}
/* fit user max-width to 180px */
#commits-table td:nth-child(2) {
    width: 90px;
}
/* fit user max-width to 180px */
#commits-table td:nth-child(3) {
    width: 130px;
}
/* add invisible horizontal scrollbar to overflowing text*/
#commits-table td:nth-child(4) {
    overflow: auto;
    white-space: nowrap;
    max-width: 300px;
    min-width: 300px;
}


/** style all scrollbars as invisible and show only the scrollbar thumb when hovered */

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #444;
}

::-webkit-scrollbar-track {
    background: #333;
}

::-webkit-scrollbar-corner {
    background: #333;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-track-piece {
    display: none;
}

::-webkit-scrollbar-corner {
    display: none;
}

::-webkit-resizer {
    display: none;
}





/* div.output pre {
    height: 100%;
    background-color: #555;
    padding: 3px;
    max-width: 60vw;
    max-height: 70vh;
}

div.output pre div, div.output pre textarea  {
    background-color: #333;
    color: #fff;
    border: none;
    width: 100%;
    height: 100%;
    resize: none;
    overflow: auto;
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
    padding: 5px;
    border-radius: 5px;
    line-height: 1.5;
    white-space: pre-wrap;
    word-wrap: break-word;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
} */

.monaco-editor { position: absolute !important; }